<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Data Processing</title>
    <link rel="stylesheet" href="styles.css"> <!-- Link to the CSS file -->
</head>
<body>
    <div class="container">
        <h1>Twitter Data Processing</h1>
        <form id="dataForm" action="/get_text" method="post">
            <label for="id">Enter The ID:</label><br>
            <input type="text" id="id" name="id"><br> <!-- Input field for ID -->
            <button type="submit">Submit</button>
        </form>
        <div id="output">
            {% if text %}
                <p>{{ text }}</p> <!-- Display text if available -->
            {% endif %}
        </div>
        <form action="/download_csv" method="get"> <!-- Form to download CSV -->
            <button type="submit">Download CSV</button>
        </form>
    </div>
    <script src="scripts.js"></script> <!-- Link to the JavaScript file -->
</body>
</html>




